.cortex
.cortex-bench
.git
.github
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info
coverage.xml
dist
build
node_modules
backups
docs
examples/.venv
htmlcov
tests
venv
website/node_modules
